@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: scroll;
}
body {
    background-color: #EFFEFF;
    font-family: "Poppins";
    font-weight: 400;
}

h1, h2, h3, h4{
    color: #144256;
    font-family: "Poppins";
    font-weight: 700;
}

h5, h6{
    color: #144256;
    font-family: "Poppins";
    font-weight: 600;
}

.orange-text{
    color:#FF7A60;
}

.teal-text{
    color: #4AD4A2;
}

.white-text{
    color: white;
    filter: drop-shadow(2px 4px 4px rgba(255,112,70,0.6));
}

.vertical-center{
    display:flex;
    align-items: center;
}

.horizontal-center{
    text-align: center;
}

.strip{
    padding: 100px 0px;
}

.splash-button{
    color: #144256;
    padding:10px 15px 10px 15px;
    border:3px solid #144256;
    border-radius: 17px;
    border-right:5px;
    background: linear-gradient(to right, #7CD5C5 75%, #144256 25%);
}

.splash-button:hover{
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}

.orange-button{
    background-color: #FF7A60;
    color: white;
    border-radius: 20px;
    text-align: center;
    border: none;
    padding: 15px 20px;
}

.orange-button:hover{
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}

/* navbar */
nav {
    background-color: white;
    z-index: 3000;
}

.navbar ul {
    justify-content: flex-end;
}

.navbar .nav-item .nav-link {
    font-family: "Poppins";
    font-weight: 600;
    color: #144256;
    transition: all 0.3s ease 0s;
}

.navbar .nav-item .nav-link:hover{
    color: #FF7A60;
}

.nav-link.active {
    color: #FF7A60 !important;
  }

.navbar-brand img {
    width: 40px;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: .5rem 1rem;
}

.content{
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: 5px;
}

@media (min-width: 992px){s
    h1{
        font-size: 50px;
    }
}


@media (max-width: 576px){
    .content{
        min-height: 100vh;
    }

    .content h4{
        font-size: 1.3rem;
    }
}

@media (max-width:991px){
     .reverse-col{
        flex-direction:column-reverse;
        padding:5%;
    }
    .content{
        min-height: 100vh;
    }

    .content div{
        padding: 5% 0;
    }
}

#story{
    position: relative;
    align-items: center;
}

#splash-screen {
    background-image: url("images/shehacksv2.png"), url("images/splash-screen2.png");
    background-size: 85%, cover;
    background-repeat: no-repeat;
    background-position: center;
  
    height: 100vh;
    display:flex;
    
    z-index: 10;
}

@media (max-width: 768px){
    #splash-screen {
        background-image: url("images/shehacksv.png"), url("images/splash-screen2.png");
        background-size: 75%, cover;
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
        background-color: #f2faf6;
        height: 100vh;
        display:flex;
        align-items: center;
        z-index: 10;
    } 

}

#python {
    background-image: url("images/forest-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #A8D5C0;
    height: 100vh;
    display:flex;
    align-items: center;
    z-index: 10;

}
#dashes {
    background-image: url("images/background-dashes.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display:flex;
    z-index: 100;

}

#java{
    background-image: url("images/kitchen-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E2EDEE;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 10;
    position: aboslute;
    
}

#ruby{
    background-image: url("images/cave-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #78789F;
    height: 100vh;
    display: flex;
    align-items: center;
    position: aboslute;
}

.story-text img{
    display: block;
    margin: auto;
    max-width: 100%;
    z-index: 25;
}

.story-img1, .story-img2, .story-img3 img{
    float: right;
    max-width: 100%;
    position: relative;
}

.story-img img{
    float: right;
    max-width: 100%;
}

.story-girl img{
    max-width: 100%;
}

.story-girl{
    position: -webkit-sticky; 
    position: sticky;
    top: 27vh;
    left: 75%;
    z-index: 50;
    margin-top: 50vh;
}

.story-pin1, .story-pin2, .story-pin3{
    position: -webkit-sticky; 
    position: sticky;
    top: 30%;
    left: 75%;
    z-index: 150;
    margin-bottom: 100px;
}

.story-pin1 img, .story-pin2 img, .story-pin3 img{
    width: 50px;
    height: auto;
    max-width: 100%;
    z-index: 150;
}

.transition{
    position: relative;
    height: 50vh;
}

.transition-2{
    height: 50vh;
}

#about{
    background: linear-gradient(180deg, rgba(220, 243, 236, 0) 0%, #FFEDE9 100%);
}

#bottom {
    background: linear-gradient(179.6deg, #EFFEFF 1.9%, #FFF4F3 99.66%);
}

.card{
    background-color: white;
    filter: drop-shadow(2px 4px 4px rgba(20, 66, 86, 0.21));
    padding: 5% 10%;
    border-radius: 50px;
}

/* new this year cards */
.event-card{
    background-color: white;
    filter: drop-shadow(2px 4px 4px rgba(20, 66, 86, 0.21));
    padding: 15% 10%;
    border-radius: 28px;
    overflow: hidden;
    height: 400px;
    position: absolute;
    top: 40%;
  
}
.circle{
    max-width: 100%;
    height: 318px;
    width: auto;
    z-index: 10;
}
@media (max-width: 992px){
    .event-card{
        background-color: white;
        filter: drop-shadow(2px 4px 4px rgba(20, 66, 86, 0.21));
        border-radius: 28px;
        padding: 5%;
        height: auto;
        overflow: hidden;
        margin: 50px;
        top: 20%
    }

        .circle{
        margin: auto;
        margin-bottom: 100px;
    }

}

@media (max-width: 768px){
    .event-card{
        background-color: white;
        filter: drop-shadow(2px 4px 4px rgba(20, 66, 86, 0.21));
        border-radius: 28px;
        overflow: hidden;
        margin: 50px;
        top: 20%
    }

    .circle{
        margin: auto;
        margin-bottom: 200px;
    }

}

@media (max-width: 576px){
    .event-card{
        background-color: white;
        filter: drop-shadow(2px 4px 4px rgba(20, 66, 86, 0.21));
        border-radius: 28px;
        overflow: hidden;
        height: auto;
        margin: 20px;
    }

    .circle{
        margin: auto;
        margin-bottom: 100px;
    }
    

}

/*past highlights slider*/  
.carousel{
    width: 100%;
}

.carousel img{
    height: 200px;
}

.fade-container{
    width: 100%;
    height: 250px;
    margin-top: -250px;
    display: flex;
    align-items: top;
}
.carousel-fade{
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) -8.72%, #F8F0ED 100%);    
    float:left;
    width: 7%;
    height: 100%;
    z-index: 1000;
    margin-left: -1%;
}

.carousel-clear{
    width:100%;
}

.carousel-fade-right{
    background: linear-gradient(-270deg, rgba(255, 255, 255, 0) -8.72%, #F8F0ED 100%);
        float: right;
    width: 7%;
    height: 100%;
    z-index: 1000;
    margin-right: -1%;
}

.speaker-card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.speaker-card{
    background-color: white;
    filter: drop-shadow(2px 4px 4px rgba(20, 66, 86, 0.21));
    padding: 2%;
    border-radius: 50px;
}

.mentor-container{
    width: 200px;
    height: auto;
}

.mentor{
    border-radius: 100%;
}

/*sponsors*/
#sponsors img{
    width: 100%;
    height: auto;
    padding: 15%;
}

/* Sponsor imgs Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

#wits {
    background-color: #F1EFE2;
    height: 550px;
}

@media (max-width: 768px){
    #wits {
        height: 520px;
    }
}

@media (max-width: 576px){
    #wits {
        height: 530px;
    }
}

@media (max-width: 380px){
    #wits {
        height: 550px;
    }
}

@media (max-width: 330px){
    #wits {
        height: 620px;
    }
}


.wits-button{
    position: relative;
    background-color: #E57154;
    color: white;
    border-radius: 20px;
    text-align: center;
    border: none;
    padding: 15px 20px;
    z-index: 14000;
}

.wits-button:hover{
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}

.text-block {
    position: relative;
    color: #0A2338;
}

.text-block img{
    width: 200px;
}

/* FAQ */
.accordion{
    margin: auto;
    padding: 0px 15%;
}

.accordion-item{
    background-color: none;
}

.accordion-item-header{
    padding: 1rem 3rem 1rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    border-bottom: grey solid 1px;
}

.accordion-item-header::after{
    font-weight: 400;
    content: "\002B";
    color: #FF7A60;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.3s ease-in-out;
}

.accordion-item-header.active::after{
    transform: rotate(45deg);
    color: grey;
}

.accordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-item-body-content{
    padding: 1rem;
    line-height: 1.5rem;
}

#history{
    background-color: white;
}

.history-img img{
    width: 80%;
    height: auto;
}

.history-icon{
    width: 35px;
    height: 35px;
}

.history-body-text{
    font-size: 1.25rem;
    margin: auto 10px;
}

#history .slick-dots{
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#history .slick-dots li{
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-indent: -9999px;
    white-space: nowrap; 
    border: 0;
    width: 20%;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(82, 156, 219, 0);
}

#history .slick-dots {
    top:0px;
}

#history .slick-dots li button{
    background-color: none;
    display: block;
    width: 100%;
    height: auto;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top:-70px;
}
#history .slick-dots li.slick-active button{
    color: #144256;
}
#history .slick-dots li button .fa{
   position: relative;
}
#history .slick-dots li.slick-active button .fa{
    top: -20px;
    opacity: 1;
}

#history .slick-dots li button:before {
    content: none;
    font-size: 0px;
}

.history-card{
    height: 350px;
}

#history .sh3{
    background-image: url("images/history/sh3.svg"); 
    background-size: auto 105%;
    background-repeat: no-repeat;
}

.white-border{
    border: white solid; 
    border-radius: 30px;
}

@media(max-width: 767px){
    .history-card{
        height: 700px;
    }

    #history .sh3{
        background-image: url("images/history/sh3-mobile.svg"); 
        background-size: 115% auto;
    }

    #history .slick-dots li button{
        width: 100%;
    }

    #history .slick-dots li button h4{
        font-size: 1rem;
    }

    #history h4{
        font-size: 1rem;
    }
    .history-body-text{
        margin: 0px;
        font-size: 1rem;
    }

    .history-icon{
        width: 35px;
        height: 35px;
    }

    
    .history-img img{
        width: 100%;
        height: auto;
    }

    .history-content{
        padding: 0 15%;
    }

    .sh3 .history-card .row .history-img{
        height: 325px;
    }
}

@media(max-width: 575px){
    .history-content{
        padding: 0 15%; 
    }

    .white-border{
        border:none;
        padding:0px;
    }

    

    #history .p-5, #history .m-5{
        padding: 0px;
        margin: 0px;
    }

    .history-card{
        height: 600px;
    }

    .sh3 .history-card .row .history-img{
        height: 175px;
    }
}
footer{
    background-color: #FFF4F3;
    height: 400px;
    background-image: url("images/footer1.png"), url("images/background-dashes.png");
    background-size: 100%;
    background-position: center, left top;
    background-repeat: no-repeat;
    padding: 100px 0px;
}
/* @media(max-width: 900px){
    footer{
        height: 450px;
        background-size: 150%;
        padding: 100px 50px;
        background-position: bottom, left top;
    }
    
} */
@media(max-width: 767px){
    footer{
        height: 450px;
        background-size: 150%;
        padding: 100px 50px;
        background-position: bottom, left top;
    }
    
}

@media(max-width: 500px){
    footer{
        height: 450px;
        background-size: 210%;
        padding: 100px 50px;
        background-position: bottom, left top;
    }
    
}

footer i {
    font-size: 3rem;
}

footer i:hover{
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}

.testimonial-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin:auto;
}

.testimonial-card{
    background-color: white;
    padding: 30px;
    margin: 0;
    border-radius: 30px;
    filter: drop-shadow(2px 4px 4px rgba(20, 66, 86, 0.21));
    height: 620px;
}

#testimonials .slick-slide{
    height: 630px;
}

@media(max-width: 767px){
    #testimonials .slick-slide{
        height: 650px;
    }
}

#testimonials .slick-prev:before, #testimonials .slick-next:before{
    color: #144256;
    opacity: 1;
    font-size: 30px;
}


.testimonial-content{
    font-size: 0.9rem;
}
